{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="page-section" id="about">
                <div class="container">
                    <div class="text-center p-5">
                        <h2 class="section-heading text-uppercase">About</h2>
                    </div>
                    <div class="row d-flex justify-content-center pb-4">
                        <div class="col-lg-4">
                            <div class="card" style="width: 18rem;">
                              <img src="{% static 'assets/img/about/1.jpg'%}" class="card-img-top" alt="...">
                              <div class="card-body">
                                <p class="card-text">We are a team of dreamers, creatives, and builders, we would like to use our talents to build your next project!</p>
                              </div>
                            </div>
                        </div>
                         <div class="col-lg-4">
                            <div class="card" style="width: 18rem;">
                              <img src="{% static 'assets/img/about/2.jpg'%}" class="card-img-top" alt="...">
                              <div class="card-body">
                                <p class="card-text">We love our technology, from data driven applications to help your business grow to WordPress websites that allow you to be in control! </p>
                              </div>
                            </div>
                        </div>
                         <div class="col-lg-4">
                            <div class="card" style="width: 18rem;">
                              <img src="{% static 'assets/img/about/3.jpg'%}" class="card-img-top" alt="...">
                              <div class="card-body">
                                <p class="card-text">We are an agile team, ready to deliver high guilty software at any budget. We love what we do and what to help you grow as a business!</p>
                              </div>
                            </div>
                        </div>
                    </div>
                        <div class="row d-flex justify-content-center">
                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                          <img src="{% static 'assets/img/about/4.jpg'%}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>
                     <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                          <img src="{% static 'assets/img/about/6.jpg'%}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>
                     <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                          <img src="{% static 'assets/img/about/6.jpg'%}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}